@import 'tailwindcss';
@import './utililtes.css';

:root {
  --background: #1a1a1e;
  --foreground: #F3F4F6;
  --primary:#C179FF;
  --bg-34343A:#34343A;
  --gray-50:#68696C;
}

@theme {
  --breakpoint-pc:62.5rem;
  --color-background: var(--background);
  --color-foreground: var(--foreground);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 커스텀 글로벌 스타일 추가 가능 */
@layer base {
  html {
    --font-pretendard: 'Pretendard Variable', Pretendard, -apple-system,
      BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
      'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  }
  body {
    font-family: var(--font-pretendard);
  }
  html, body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    background: var(--background);
    color: var(--foreground);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  button {
    cursor: pointer;
    all: unset;
    transition: background-color 0.2s ease;
  }
  p {
    margin: 0;
  }
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  em {
    font-style: normal;
  }

  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

  img,
  video {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
  }

  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  input,
  textarea,
  select {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    border: none;
    background: transparent;
    outline: none;
  }

  textarea {
    resize: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}
